.container{
    border: solid black 10px;
    border-radius: 5px;
    

    h1{
        color: red;
    }

    .calc-buttons__container{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);

        #zero{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    .display{
        border: 2px solid black
    }
}
