@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Varela+Round&display=swap');

$main-font: "Indie Flower";
$secondary-font: "Valera Round";

//colours

$black-color: black;
$gradient-color1: linear-gradient(rgba(250, 147, 195, 0.678), white);
$gradient-color2: linear-gradient(rgba(240, 176, 208, 0.514), white);
$pink-color: rgba(250, 147, 195, 0.61);