@use "./variables" as *;
@use "./header" as *;
@use "./calculatorUI" as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 192, 203, 0.226);

    .operator-animation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    #wave__desktop{
        display: none;
    }
}

@media screen and (min-width: 1024px)
{
    body{
        .operator-animation{
            display: none;
        }

        #wave__mobile{
            display: none;
        }

        #wave__desktop{
            display: block;
        }

    }
}
