
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        color: palevioletred;
    }
    
   #toggle-on{
    margin-left: auto;
    padding-right: 20px;
   }

   #toggle-off{
    margin-left: auto;
    padding-right: 20px;
    display: none;
   }

}




.calculator__container{
    border: solid black 10px;
    border-radius: 60px;
    width: 425px;
    height: 812px;
    background-image: linear-gradient(rgba(128, 128, 128, 0.479), white);

    .calculator__container-notch{
        // border: 1px black solid;
        height: 30px;
        width: 35vw;
        margin: 0 auto;
        background-color: black;
        border-radius: 0px 0px 10px 10px; 
    }
    
    .display__container{
        // border: 2px solid black;
        width: 400px;
        height: 25vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        
        .display__view-calculation{
        //   border: 2px solid purple;
          height: 5vh;
          width: 70vw;
          padding-right: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          font-size: 30px;
          color: rgb(122, 122, 122);
        }

        .display__view-result{
        //   border: solid 2px hotpink;
          height: 10vh;
          width: 70vw;
          padding-right: 20px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          font-size: 60px;
          color: rgb(59, 55, 57) ;
        }
    }

    .calc-buttons__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: 50vh;
        gap: 15px;
        padding: 10px;;
    

        #equals{
            grid-column: 3/5;
        }

        .calc-buttons__operator, 
        .calc-buttons__btn,
        .calc-buttons__clear,
        .calc-buttons__plusMinus,
        .calc-buttons__return{
            border-radius: 50px;
            border: 1px solid rgba(250, 147, 195, 0.226);
            font-size: 50px;
        }

        .calc-buttons__operator,
        .calc-buttons__plusMinus,
        .calc-buttons__clear{
            background-image: linear-gradient(rgb(250, 147, 195), white);
        }

        .calc-buttons__btn{
            background-image: linear-gradient(rgba(240, 176, 208, 0.514), white);
        }

        .calc-buttons__return{
            background-color: rgba(250, 147, 195, 0.61);
        }
    }

}

/*

.calc-buttons__container{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        height: 45vh;
        width: 425px;
        padding-top: 10px;

        #zero{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
*/